<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e" >

  <!-- common stuff -->
<!--   <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" /> -->

  <!-- ur5e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur5e_default.yaml"/>
  <xacro:ur5e_robot prefix="" joint_limited="false"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
    />

  <link name="world" />
  <link name="real_base_link"/>
  <link name="real_ee_link"/>


  <joint name="base_joint" type="fixed">
    <parent link="real_base_link" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.1415" />
  </joint>

  <joint name="ee_joint" type="fixed">
    <parent link="ee_link" />
    <child link = "real_ee_link" />
    <origin xyz="0.0 0.0 0.0" rpy="-1.5707 0.0 -1.5707" />
  </joint>  

  <joint name="table_joint" type="fixed">
    <parent link="table" />
    <child link = "real_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="table_bar" type="fixed">
      <parent link="table" />
      <child link="bar" />
      <origin xyz="0.585 0.985 0.75" rpy="0.0 0.0 0" />
  </joint>

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "table" />
    <origin xyz="0.0 0.0 0.8" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="bar">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.03 0.03 1.5" />
      </geometry>
      <material name="bar1">
        <color rgba="0.192 0.192 0.192 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.07 1.5"/>
      </geometry>
    </collision>
  </link>

  <link name="table">
    <visual>
      <origin xyz="0 0 -0.4" rpy="0 0 0" />
      <geometry>
        <box size="2.3 3 0.8" />
      </geometry>
        <material name="table">
        <color rgba="0.192 0.192 0.192 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 -0.4" rpy="0 0 0"/>
      <geometry>
        <box size="2.3 3 0.8"/>
      </geometry>
    </collision>
  </link>


  

</robot>
